#header-nav-ul2 li[id="header-nav-ul2-selected"] {
  color: var(--main-color);
  border-bottom: solid var(--main-color) 0.5px;
  background-color: rgba(243, 241, 213, 0.8);
}

/* checkout-page-main page*/
#checkout-page-main {
  min-width: 100vw;
  min-height: 120vh;
  padding-top: 14vh;
  background-color: var(--main-color);
  color: rgba(243, 241, 213, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;

}

#checkout-page-main-h1 {
  border-bottom: rgba(243, 241, 213, 0.8) solid 2px;
  font-family: headerFont;
  height: 15%;
}

#checkout-page-main-section {
  height: 80vh;
  width: 80%;
  background-color: rgba(243, 241, 213, 0.8);
  color: var(--main-color);
  border-radius: 5px;
  overflow-y: scroll;
}

/* checkout-page-main-section-div (js cart items) */
.checkout-page-main-section-div {

  height: 22%;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  color: rgba(243, 241, 213, 0.8);
  margin: 0.5%;

}


.checkout-page-main-section-div-img {
  width: 20%;
  height: 100%;
  border: solid whitesmoke 1px;

}

.checkout-page-main-section-div-h2 {
  width: 25%;
  height: 100%;
  margin-top: 0px;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  word-break: break-word;
  padding: 1%;
  box-sizing: border-box;
  background-color: var(--main-color);
  font-weight: 100;

}

.checkout-page-main-section-div2 {
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;

}

.checkout-page-main-section-div-span {

  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  box-sizing: border-box;
  border-bottom: none;
}

#checkout-page-main-section-div-span-minus {
  cursor: pointer;
  color: rgba(243, 241, 213, 0.8);
  font-size: 30px;
  width: 12.5%;
}
#checkout-page-main-section-div-span-minus:hover {
  background-color: rgba(54, 169, 138, 0.8);
}

#checkout-page-main-section-div-span-plus {
  cursor: pointer;
  color: rgba(243, 241, 213, 0.8);
  font-size: 30px;
  width: 12.5%;
}
#checkout-page-main-section-div-span-plus:hover {
  background-color: rgba(54, 169, 138, 0.8);
}

#checkout-page-main-section-div-span-removeItem {
  background-color: rgba(233, 186, 171, 0.8);
  color: red;
  cursor: pointer;
  transition: 0.3s;
  padding-left: 1%;

}
#checkout-page-main-section-div-span-removeItem:hover {
  background-color: red;
  color: rgba(243, 241, 213, 0.8);
}

/*  checkout-page-main-section-article (no cart items article)   */
#checkout-page-main-section-article {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;

}

#checkout-page-main-section-article-h2 {
  margin-bottom: 5%;
  line-height: 150%;
    white-space: pre-line;
}

#checkout-page-main-section-article-a {
  color: rgba(243, 241, 213, 0.8);
  background-color: var(--main-color);
  padding: 1.5%;
  transition: 0.3s;
}
#checkout-page-main-section-article-a:hover {
  padding: 2.5%;
  color: var(--text-color);
}

/*  checkout page section 2  */
#checkout-page-main-section2 {
  height: 20vh;
  margin-top: 1%;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#checkout-page-main-section2-span1{
  border: solid var(--main-color) 2px;
  background-color: rgba(243, 241, 213, 0.8);
  color: var(--main-color);
  margin: 2%;
  text-align: center;
  height: 8vh;
  font-size: 80%;
  display: flex;
  align-items: center;
  padding: 1%;
}
#checkout-page-main-section2-span1:hover{
  border: solid rgba(243, 241, 213, 0.8) 2px;
  background-color: var(--main-color);
  color: rgba(243, 241, 213, 0.8);
}

#checkout-page-main-section2-span2{
  border: solid var(--main-color) 2px;
  background-color: rgba(243, 241, 213, 0.8);
  color: var(--main-color);
  margin: 2%;
  text-align: center;
  height: 8vh;
  font-size: 80%;
  display: flex;
  align-items: center;
  padding: 1%;
}
#checkout-page-main-section2-span2:hover{
  border: solid rgba(243, 241, 213, 0.8) 2px;
  background-color: var(--main-color);
  color: rgba(243, 241, 213, 0.8);
}

#checkout-page-main-section2-button {
  border: var(--text-color) 0.5px solid;
  background-color: var(--main-color);
  color: var(--text-color);
  width: 15vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  margin: 1%;
  cursor: pointer;

}
#checkout-page-main-section2-button:hover {
  width: 16vw;
  height: 11vh;

  border: var(--text-color) 0.5px solid;
  background-color: var(--text-color);
  color: var(--main-color);
}

  /* Styles for small screens (e.g., mobile devices) */
@media only screen and (max-width: 850px) {


/* checkout-page-main page*/
#checkout-page-main {

  padding-top: 0;

}




.checkout-page-main-section-div-img {
  width: 20%;
  height: 100%;
  border: solid whitesmoke 1px;

}

.checkout-page-main-section-div-h2 {
  font-size: 100%;
  text-align: center;
}



.checkout-page-main-section-div-span {
    font-size: 80%;
}



#checkout-page-main-section-div-span-quantity{
 width: 30%;
  text-align: center;
  font-size: 75%;
}

#checkout-page-main-section-div-span-removeItem{
  text-align: center;
}


/*  checkout-page-main-section-article (no cart items article)   */
#checkout-page-main-section-article {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;

}

#checkout-page-main-section-article-h2 {
  margin-bottom: 5%;
  line-height: 150%;
    white-space: pre-line;
}

#checkout-page-main-section-article-a {
  color: rgba(243, 241, 213, 0.8);
  background-color: var(--main-color);
  padding: 1.5%;
  transition: 0.3s;
}
#checkout-page-main-section-article-a:hover {
  padding: 2.5%;
  color: var(--text-color);
}

/*  checkout page section 2  */
#checkout-page-main-section2 {
  height: 20vh;
  margin-top: 1%;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#checkout-page-main-section2-span1{
  border: solid var(--main-color) 2px;
  background-color: rgba(243, 241, 213, 0.8);
  color: var(--main-color);
  margin: 2%;
  text-align: center;
  height: 8vh;
  font-size: 80%;
  display: flex;
  align-items: center;
  padding: 1%;
}
#checkout-page-main-section2-span1:hover{
  border: solid rgba(243, 241, 213, 0.8) 2px;
  background-color: var(--main-color);
  color: rgba(243, 241, 213, 0.8);
}

#checkout-page-main-section2-span2{
  border: solid var(--main-color) 2px;
  background-color: rgba(243, 241, 213, 0.8);
  color: var(--main-color);
  margin: 2%;
  text-align: center;
  height: 8vh;
  font-size: 80%;
  display: flex;
  align-items: center;
  padding: 1%;
}
#checkout-page-main-section2-span2:hover{
  border: solid rgba(243, 241, 213, 0.8) 2px;
  background-color: var(--main-color);
  color: rgba(243, 241, 213, 0.8);
}

#checkout-page-main-section2-button {
  border: var(--text-color) 0.5px solid;
  background-color: var(--main-color);
  color: var(--text-color);
  width: 15vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  margin: 1%;
  cursor: pointer;

}
#checkout-page-main-section2-button:hover {
  width: 16vw;
  height: 11vh;

  border: var(--text-color) 0.5px solid;
  background-color: var(--text-color);
  color: var(--main-color);
}
}
