/* root */

:root {
  --main-color: rgba(6, 78, 59, 0.9);
  --text-color: rgb(244, 206, 85);
  scroll-behavior: smooth;
  scroll-padding-top: 14.5vh;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

@font-face {
  font-family: headerFont;
  src: url("../assets/fonts/JuliusSansOne-Regular.ttf");
}
@font-face {
  font-family: articleFont;
  src: url("../assets/fonts/EuphoriaScript-Regular.ttf");
}

body {
  margin: 0px;
  width: 100vw;
  height: auto;
  background-color: whitesmoke;
  z-index: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* landing-page-header */

#header {
  min-width: 100%;
  height: 14vh;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: whitesmoke;
  box-sizing: border-box;
}

#header-a {
  min-width: 50%;
  height: 30%;
  color: var(--main-color);
  font-family: headerFont;
  font-size: 70%;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5vh;
}
#header-a:hover {
  transform: scale(1.05);
}

#header-nav {
  min-width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header-nav-ul1 {
  min-width: 50%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
}

#header-nav-ul1 li {
  display: inline-block;
  color: var(--main-color);
  padding: 5px;
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}
#header-nav-ul1 li:first-child {
  width: 40%;
  cursor: default;
  font-size: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

#header-nav-ul1 li:first-child:hover {
  background-color: whitesmoke;
  color: var(--main-color);
}

#header-nav-ul1 li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

#header-nav-ul1 li a img {
  width: 50%;
  height: 100%;
  object-fit: contain;
  border-bottom: solid whitesmoke 0.5px;
}
#header-nav-ul1 li img:hover {
  border-bottom: solid var(--main-color) 0.5px;
  background-color: rgba(243, 241, 213, 0.8);
}

#header-nav-ul2 {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 75%;

  align-items: center;
}

#header-nav-ul2 li {
  display: inline-block;
  background-color: rgba(6, 78, 59, 0.95);
  color: var(--text-color);
  width: 20%;
  height: 80%;
  border-bottom: solid var(--main-color) 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-nav-ul2 li:hover {
  border-bottom: solid var(--text-color) 2px;
  background: whitesmoke;
  color: var(--main-color);
}

/* landing page main section */

#landing-page-section {
  width: 75vw;
  height: 70vh;
  margin-left: 12.5vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20vh;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 22px 8px #70716f;
  box-shadow: 0px 0px 22px 8px #70716f;
  transition: 0.5s;
}
#landing-page-section:hover {
  transform: scale(1.005);
}

#landing-page-section-div {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.landing-page-section-div-img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.landing-page-section-div-img:hover {
  transform: scale(1.005);
}

#landing-page-article {
  width: 50%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  background-color: var(--main-color);
  overflow: scroll;
  transition: 0.5s;
}

#landing-page-article:hover {
  transform: scale(1.005);
}

#landing-page-article-logo {
  margin-top: 3%;
  height: 125px;
  width: 125px;
  border: var(--main-color) solid 3px;
  border-radius: 50%;
  transition: 1s;
}
#landing-page-article-logo:hover {
  transform: rotate(360deg);
}

#landing-page-article-h2 {
  width: 85%;
  margin-left: 7.5%;
  height: auto;
  padding-left: 2%;
  text-align: center;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: articleFont;
  border-bottom: solid var(--text-color) 2px;
  font-size: 5vh;
}

#landing-page-article-p {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  color: var(--text-color);
  margin-bottom: 4vh;
  margin-left: 5%;
}

#landing-page-article-a {
  border: solid var(--text-color) 2px;
  color: var(--text-color);
  padding: 1%;
  border-radius: 5px;
  transition: 0.3s;
}
#landing-page-article-a:hover {
  color: var(--main-color);
  background-color: var(--text-color);
  padding: 2%;
}

/* landing page products section  */

#landing-page-product-section {
  background-color: var(--main-color);
  width: 100%;
  height: 100vh;
  margin-top: 7vh;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  display: flex;
  flex-direction: row;
  z-index: 1;
}

#landing-page-product-section-article1 {
  width: 49%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  padding-left: 1%;
}

.landing-page-product-section-article1-div {
  width: 30%;
  height: 80%;
  background-color: var(--main-color);
  border: var(--text-color) solid 4px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  transform: rotate(-3deg);
  border-radius: 8px;
  color: var(--text-color);
}
.landing-page-product-section-article1-div:hover {
  transform: rotate(0deg) scale(1.03);
}

.landing-page-product-section-article1-div img {
  width: 100%;
  height: 40%;
  box-sizing: border-box;
  border-radius: 5px;
  border: var(--text-color) 4px solid;
}

.landing-page-product-section-article1-div p {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  padding: 4%;
  font-size: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.landing-page-product-section-article1-div a {
  border: solid var(--text-color) 2px;
  width: 70%;
  height: 10%;
  margin-left: 15%;
  font-size: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  border-radius: 5px;
  transition: 0.3s;
}
.landing-page-product-section-article1-div a:hover {
  padding: 1.5%;
  color: var(--main-color);
  background-color: var(--text-color);
}

#landing-page-product-section-article2 {
  background-color: rgba(243, 241, 213, 0.8);
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--main-color);
  box-sizing: border-box;
}

#landing-page-product-section-article2-h3 {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

#landing-page-product-section-article2-p {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
  box-sizing: border-box;
}

#landing-page-product-section-article2 a {
  height: 10%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5%;
  border-radius: 5px;
  border: solid var(--main-color) 2px;
  transition: 0.3s;
}
#landing-page-product-section-article2 a:hover {
  padding: 0.75%;
  background-color: var(--main-color);
  color: rgba(243, 241, 213, 0.8);
}

/* landing-page-aboutUs-section */

#landing-page-aboutUs-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#landing-page-aboutUs-section-article {
  width: 50%;
  color: var(--main-color);
  background-color: rgba(243, 241, 213, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#landing-page-aboutUs-section-article h3 {
  font-family: headerFont;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  font-size: 5vh;

  text-decoration-color: var(--main-color);
  margin-bottom: 0px;
}

#landing-page-aboutUs-section-article p {
  border: red solid 2px;
  height: 80%;
  width: 90%;
  border-radius: 15px;
  padding: 2%;
  color: rgba(243, 241, 213, 0.8);
  border: solid 2px var(--main-color);
  background-color: var(--main-color);
  overflow: scroll;
}

#landing-page-aboutUs-section-div {
  width: 50%;
  height: 100%;
}

#landing-page-aboutUs-section-div img {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
/* landing-page-contact-section */

#landing-page-contact-section {
  width: 100%;
  height: 90vh;
  background-color: var(--main-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
}

#landing-page-contact-section-h3 {
  width: 50%;
  height: 15%;
  font-size: 5.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: headerFont;
}

#landing-page-contact-section-article {
  min-width: 100vw;
  height: 65%;
  overflow: scroll;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
}

.landing-page-contact-section-article-div-a {
  height: 70%;
  width: 17.5vw;
  border: solid var(--text-color) 2px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(32, 52, 30, 0.8);
}

.landing-page-contact-section-article-div-a div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.landing-page-contact-section-article-div-a div img {
  height: 70%;
  box-sizing: border-box;
  width: 100%;
  border-radius-top-right: 10px;
  border-radius-top-left: 10px;
}

.landing-page-contact-section-article-div-a div ul {
  height: 30%;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(44, 51, 40, 0.8);
  list-style: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.landing-page-contact-section-article-div-a div ul li {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  font-size: 90%;
  box-sizing: border-box;
}

/* landing-page-footer */

#landing-page-footer {
  width: 100%;
  height: 20vh;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-page-footer h4 {
  color: var(--text-color);
}
