/* root */

:root {
  --main-color: rgba(6, 78, 59, 0.9);
  --text-color: rgb(244, 206, 85);
  scroll-behavior: smooth;

  scroll-padding-top: 15vh;
}

@font-face {
  font-family: headerFont;
  src: url("../assets/fonts/JuliusSansOne-Regular.ttf");
}

body {
  margin: 0px;
  width: 100vw;
  height: auto;
  background-color: whitesmoke;
  z-index: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* landing-page-section */

#header {
  border: var(--main-color) solid 0.5px;
  width: 100%;
  height: 14vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: whitesmoke;
  padding-top: 2vh;
  box-sizing: border-box;
}

#header-a {
  min-width: 50%;
  text-align: center;
  color: var(--main-color);
  font-family: headerFont;
  font-size: 13px;
  transition: 0.2s;
}
#header-a:hover {
  transform: scale(1.05);
}

/* #header-h1 {
  width: 40%;
  text-align: center;
  margin: 0;
  color: var(--main-color);
  font-family: headerFont;
  font-size: 25px;
  font-weight: 600;
} */

#header-nav {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
#header-nav-ul1 {
  width: 50%;
  padding-left: 0px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}
#header-nav-ul2 {
  width: 50%;
  text-align: right;
  display: flex;
  justify-content: space-around;
}

#header-nav-ul1 li {
  display: inline-block;
  color: var(--main-color);
  padding: 5px;
  width: 15%;
  text-align: center;
  border-bottom: solid var(--main-color) 1px;
}
#header-nav-ul1 li:hover {
  border-bottom: solid var(--text-color) 1px;
  color: var(--text-color);
  background-color: rgba(6, 78, 59, 0.9);
}

#header-nav-ul2 li {
  display: inline-block;
  background-color: rgba(6, 78, 59, 0.95);
  padding: 5px;
  color: var(--text-color);
  width: 15%;
  text-align: center;
  border: whitesmoke solid 2px;
}
#header-nav-ul2 li:hover {
  border: solid var(--text-color) 2px;
  background: whitesmoke;
  color: var(--main-color);
}

#landing-page-section {
  width: 75vw;
  height: 70vh;
  margin-left: 12.5vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20vh;
  background-color: black;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 22px 8px #70716f;
  box-shadow: 0px 0px 22px 8px #70716f;
  transition: 1s;
}
#landing-page-section:hover {
  transform: scale(1.01);
}

#landing-page-section-div {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.landing-page-section-div-img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.landing-page-section-div-img:hover {
  transform: scale(1.01);
}

#landing-page-article {
  width: 50%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  background-color: var(--main-color);
  box-sizing: border-box;
  overflow: scroll;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}
#landing-page-article:hover {
  transform: scale(1.01);
}

#landing-page-article-logo {
  margin-top: 2%;
  height: 125px;
  width: 125px;
}

#landing-page-article-h2 {
  width: 100%;
  height: auto;
  padding-left: 2%;
  text-align: left;
  box-sizing: border-box;
  color: var(--text-color);
}

#landing-page-article-p {
  width: 100%;
  height: auto;
  padding-left: 2%;
  text-align: left;
  box-sizing: border-box;
  color: var(--text-color);
}

/* landing page products section  */

#landing-page-product-section {
  background-color: var(--main-color);
  width: 100%;
  height: 80vh;
  margin-top: 7vh;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 22px 8px #70716f;
  box-shadow: 0px 0px 22px 8px #70716f;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

#landing-page-product-section-article1 {
  width: 50%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  padding-left: 1%;
}

.landing-page-product-section-article1-div {
  width: 30%;
  height: 80%;
  background-color: var(--main-color);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  transform: rotate(-3deg);
  border-radius: 15px;
}
.landing-page-product-section-article1-div:hover {
  transform: rotate(0deg) scale(1.03);
}

.landing-page-product-section-article1-div img {
  width: 100%;
  height: 50%;
  box-sizing: border-box;

  border-radius: 15px;
}

.landing-page-product-section-article1-div p {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  border-radius: 15px;
  margin-top: 0;
}

#landing-page-product-section-article2 {
  background-color: rgba(243, 241, 213, 0.8);
  width: 50%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

#landing-page-product-section-article2-h3 {
  width: 100%;
  height: 20%;
  margin: 0px;
  padding-top: 5%;
  box-sizing: border-box;
}

#landing-page-product-section-article2-p {
  width: 100%;
  height: 50%;
  margin: 0px;
  padding: 5%;
  box-sizing: border-box;
}

#landing-page-product-section-article2 a {
  width: 100%;
  height: 20%;
  margin: 0px;
}

/* landing-page-aboutUs-section */

#landing-page-aboutUs-section {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
}

#landing-page-aboutUs-section-article {
  width: 50%;
  text-align: center;
  border-radius: 15px;
}

#landing-page-aboutUs-section-div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--main-color);
  -webkit-box-shadow: 0px 0px 22px 8px #70716f;
  box-shadow: 0px 0px 22px 8px #70716f;
  border-radius: 15px;
}

#landing-page-aboutUs-section-div img {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
}
/* landing-page-contact-section */

#landing-page-contact-section {
  width: 100%;
  height: 90vh;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#landing-page-contact-section-table {
  border: solid 3px blue;
  margin-top: 5vh;
  width: 80%;
  color: var(--text-color);
  height: 60vh;
}

#landing-page-contact-section-table td {
  border: solid green 2px;
  height: 10px;
}

#landing-page-contact-section table caption {
  border: solid 3px blue;
  margin-bottom: 5vh;
}

/* landing-page-footer */

#landing-page-footer {
  width: 100%;
  height: 20vh;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-page-footer h4 {
  color: var(--text-color);
}
